<!DOCTYPE html>
<html lang="en">

<!--Ashleigh Lyman-->
<!--Exercise 9.2-->
<%- include("header"); %>

    <body>
        <%- include("navbar"); %>
            <%- include("view"); %>
                <div class="container">
                    <%- include("list"); %>

                        <%- include("footer"); %>

                </div>

                <%- include("scripts"); %>
    </body>

</html>
